---
layout: default
---

<h2>Ramblings of a random software engineer</h2>
<div id="metadata">&nbsp;</div>

<div id="info">
	<a href="http://stut.net/">Stuart Dallas</a> is a <a href="http://3ft9.com/">Software Architect/Engineer</a>, a <a href="http://stuartdallas.com/">Photographer</a>, a <a href="http://twitter.com/stut">Twitterer</a>, a <a href="http://www.facebook.com/stuartdallas">Facebooker</a>, a <a href="http://www.flickr.com/photos/stuartdallas/">Flickrer</a>, and a <a href="http://tastingtheacorn.com/">human being</a>.
</div>
<h3>Latest ramblings...</h3>
<div id="postlist">
	<div class="indented">
{% for post in site.posts limit:10 %}
	<div><a href="{{ post.url }}">{{ post.title }}</a><span style="color:#ccc;"> on {{ post.date | date: "%B %d, %Y" }}</span></div>
{% endfor %}
	</div>
{% if site.posts.size > 10 %}
	<div id="morepostslink"><a href="#" onclick="document.getElementById('moreposts').style.display='block';document.getElementById('morepostslink').style.display='none';">Show all {{ site.posts.size }} ramblings...</a></div>
	<div id="moreposts" class="indented" style="display:none;">
	{% for post in site.posts offset:10 %}
		<div><a href="{{ post.url }}">{{ post.title }}</a><span style="color:#ccc;"> on {{ post.date | date: "%B %d, %Y" }}</span></div>
	{% endfor %}
	</div>
{% endif %}
</div>
